@model IEnumerable<IPLManagementSystemMVC.Models.PlayerPhoto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Photo", "InsertPhoto")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        <img src="@Html.DisplayFor(modelItem => item.Photo)" height="200" width="200" />
    </td>
    <td>
        @Html.ActionLink("Edit", "UpdatePhoto", new { id = item.Id }) |
        @Html.ActionLink("Delete", "DeletePhoto", new { id = item.Id })
    </td>
</tr>
}

</table>
