@model IEnumerable<IPLManagementSystemMVC.Models.CustomerPlayers>

@{
    ViewBag.Title = "Players";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <table class="table col-lg-12">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlayerRole)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>

            </tr>

            @foreach (var item in Model)
             {
                <tr>
                    <td >
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                     <td>
                        @Html.DisplayFor(modelItem => item.Age)
                     </td>

                     <td>
                        @Html.DisplayFor(modelItem => item.PlayerRole)
                     </td>
                     <td>
                        <img src="@Html.DisplayFor(modelItem => item.Photo)" height="150" width="150"/>
                     </td>
                </tr>
             }
        </table>
    </div>
</div>

