@model IPLManagementSystemMVC.Models.AllTableJoinsMVC
@{
    ViewBag.Title = "TeamsAndPlayers";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<!DOCTYPE html>
<head>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#ddlTeamname").change(function () {
                var $this = $(this);
                var url = $this.parent().data("submit-url") +"/"+ $this.val();
                window.location.href = url;
                window.location.href = url.replace(url, "https://localhost:44349/CustomerMVC/TeamsAndPlayers");
            });

        });
    </script>
</head>
<body>
    @using (Html.BeginForm("TeamsAndPlayers", "CustomerMVC", FormMethod.Post ))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Teams And Players</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.Team, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" data-submit-url="@Url.Action("PlayersList","CustomerMVC")">
                    @Html.DropDownListFor(n => n.Team, TempData["TeamSL"] as SelectList, "---Select---", new { @class = "form-control", @id = "ddlTeamname"})
                    @Html.ValidationMessageFor(model => model.Team, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (!(TempData["PlayerSL"] is null))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Player, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(n => n.Player, TempData["PlayerSL"] as SelectList, "---Select---", new { @class = "form-control", @id = "ddlPlayername"})
                        @Html.ValidationMessageFor(model => model.Player, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>
    }
</body>
