@model IEnumerable<IPLManagementSystemMVC.Models.CustomerUpcomingMacthes>

@{
    ViewBag.Title = "UpcomingMatches";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Scheduled Matches</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Match_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Match_Photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Match_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Match_Photo)" height="200" width="200"/>
        </td>
    </tr>
}

</table>
