@model IEnumerable<IPLManagementSystemMVC.Models.Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Ticket", "InsertTicket") &nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Details of Tickets", "Details")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatchId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MatchId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.ActionLink("Edit", "UpdateTicket", new { id = item.Id }) |
        @Html.ActionLink("Delete", "DeleteTicket", new { id = item.Id })
    </td>
</tr>
}

</table>
