@model IEnumerable<IPLManagementSystemMVC.Models.UserRolesViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add User Role", "InsertUserRole") &nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Details of User Roles", "Details")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UsersTable.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateUserRole", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
