@model IEnumerable<IPLManagementSystemMVC.Models.MatchDetails>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Team_One)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team_Two)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatchPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Team_One)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team_Two)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatchPhoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Go Back", "Index")
</div>