@model IEnumerable<IPLManagementSystemMVC.Models.Team>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Team", "InsertTeam")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Home_Ground)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Franchise_Owners)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo_Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Home_Ground)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Franchise_Owners)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Logo_Image)
    </td>
    <td>
        @Html.ActionLink("Edit", "UpdateTeam", new { id = item.Id }) |
        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
        @Html.ActionLink("Delete", "DeleteTeam", new { id = item.Id })
    </td>
</tr>
}

</table>
