@model IEnumerable<IPLManagementSystemMVC.Models.Schedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Schedule", "InsertSchedule") &nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Details of Schedule", "Details")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatchId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VenueId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MatchId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.VenueId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Start_Time)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.End_Time)
    </td>
    <td>
        @Html.ActionLink("Edit", "UpdateSchedule", new { id = item.Id }) |
        @Html.ActionLink("Delete", "DeleteSchedule", new { id = item.Id })
    </td>
</tr>
}

</table>
