@model IEnumerable<IPLManagementSystemMVC.Models.AllStatistic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Insert Statistics", "InsertStatistics")
</p>
<table class="table col-lg-12">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Played)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Won)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NRR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TeamId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Played)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Won)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Lost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tied)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NoResult)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NRR)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Points)
    </td>
    <td>
        @Html.ActionLink("Edit", "UpdateStatistics", new { id = item.Id }) |
        @Html.ActionLink("Delete", "DeleteStatistics", new { id = item.Id })
    </td>
</tr>
}
</table>
