
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <!--Header Row-->
        <nav class="navbar navbar-expand-md fixed-top" style="padding:0px; background-color:darkblue;">
            <a href="#" style="background-color:darkblue"><img style="height:50px; width:60px" src="~/Images/Logos/ipl logo 2.jpeg" /></a>
            <!--For Logout Link-->
            <div class="navbar-nav">
                <a href="#" class="nav-item collapse navbar-collapse nav-link">Logout</a>
            </div>
        </nav>
        <!--Body Row-->
        <div class="row">
            <div class="col-md-3">
                <div style="background-color:lightblue;height:400px; float:left">
                    <h4>Operations Here!</h4>
                    <a href="@Url.Action("Index","UserMVC")">Venue</a><br />
                    <a href="@Url.Action("Index","RoleMVC")">Speciality</a><br />
                    <a href="@Url.Action("Index","UserRoleMVC")">Speciality</a><br />
                </div>
            </div>
            <div class="col-md-6">
                <div style="margin-right:100px; height: 400px;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
