
@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title style="font-weight:600">IPL T20</title>
    <link rel="icon" href="~/Images/Logos/ipl logo 2.jpeg" type="image/image" style="height:16px;width:16px">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .nav-item {
            padding-left: 20px;
            color: azure;
            font-weight:bold
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top" style="padding-left: 10px; background-color: darkblue; font-size: medium">
        <a href="#" style="background-color:darkblue"><img style="height:50px; width:60px" src="~/Images/Logos/ipl logo 2.jpeg" /></a>
        <!--For menu items -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <a href="#" class="nav-item nav-link">Home</a>
            <a href="#" class="nav-item nav-link">About Us</a>
            <a href="@Url.Action("Teams","CustomerMVC")" class="nav-item nav-link">Teams & Players</a><br />
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" style="color:azure" data-toggle="dropdown">Matches</a>
              <div class="dropdown-menu">
                  <a href="@Url.Action("CompletedMatches","CustomerMVC")" class="dropdown-item" style="font-size:15px;color:black;">Match Results</a>
                  <a href="@Url.Action("UpcomingMatches","CustomerMVC")" class="dropdown-item"style="font-size:15px;color:black;">Scheduled Matches</a>
              </div>
            </div>
            <a href="@Url.Action("Tickets","CustomerMVC")" class="nav-item nav-link">Book Tickets</a><br />
            <a href="@Url.Action("Points_Table","CustomerMVC")" class="nav-item nav-link">Points Tables</a><br />
        </div>
        <div>
        </div>
        <div class="collapse navbar-collapse nav-link" style="float:right " id="navbarCollapse">
            @if (Session["Username"] != null)
             {
                <div>
                    <h4 style="color:white;font-style:italic;padding-left:400px;">Hello, @Session["Username"]</h4>
                    <a href="@Url.Action("Logout", "HomePage")" style="font-weight: bold; color: white; padding-left: 400px;">Logout</a>
                </div>
             }
        </div>
    </nav>
    <!--Body Row-->
        <div class="col-md-12">
            <div style="font-size:medium; height: 400px;margin-top:50px;">
                @RenderBody()
            </div>
        </div>
</body>
</html>
